
logs/

crash-reports/

realms_persistence\.json

saves/Development/advancements/

saves/Development/data/

saves/Development/DIM-1/data/

saves/Development/DIM1/data/

saves/Development/playerdata/

saves/Development/stats/

saves/Development/session\.lock

saves/Development/level\.dat_old
options\.txt

saves/Development/icon\.png

usercache\.json

saves/Development/advancements/
