
saves/*/advancements/

logs/

realms_persistence\.json

saves/*/data/

saves/*/region/r\.-1\.-1\.mca

saves/*/region/r\.-1\.0\.mca

saves/*/region/r\.-1\.1\.mca

saves/*/region/r\.0\.-1\.mca

saves/*/region/r\.0\.1\.mca

saves/*/region/r\.1\.-1\.mca

saves/*/region/r\.1\.0\.mca

usercache\.json

saves/*/stats/

saves/*/session\.lock

saves/*/playerdata/

saves/*/level\.dat_old

saves/*/icon\.png

saves/*/DIM-1/

saves/*/DIM1/

*.txt
